
.fundo{
   background-color: rgb(253, 253, 243);
}

/*Botoes da tab*/
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}
.tablink:hover {
  background-color: #777;
}

/*Conteudo da tab*/
.tabcontent {
  color: rgb(54, 40, 24);
  display: none;
  padding: 50px;
  text-align: center;
}
.row{
  text-align: left;
}

/*Banner de Destaque na Home*/
div .Destaque{
  background-image:url(images/recorte.png);
  background-size:100% auto;
  background-repeat:no-repeat;
  opacity:85%;
  height:450px;
  width:100%

}
.Dest{
  color:#fff;
  padding: 200px 0;
}

/*GALERIA*/
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  .Dest{
    padding: 120px 0;
  }
}

/* Responsive layout  */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .Dest{
    padding: 50px 0;
    font-size: 20pt;
  }
}

table{
  width:80%;
  border-collapse: collapse;
}

.social{
  background-color: rgb(128, 207, 253);
  color: white;
  border: none;
  outline: none;
 padding: 14px;
 width:25%;
}
.social2{
  background-color: rgb(46, 46, 46);
  color: white;
  border: none;
  outline: none;
 padding: 14px;
 width:25%;
}
.social1{
  background-color: rgb(253, 140, 111);
  color: white;
  border: none;
  outline: none;
 padding: 14px ;
 width:25%;
}
.fa{
  font-size: 30px;
  width: 25%;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  color: white;
  text-decoration: none;
}

.fa-twitter {
  color: white;
  text-align: center;
}
.fa-instagram {
  color: white;
  text-align: center;
}
.fa-github {
  color: white;
  text-align: center;
}
.fa:hover {
  opacity: 0.7;
}
.barra{
  background-color:#555;
}

